/*
* INDEX STYLE SHEET
*
* David Cabeza <cabezadavide at gmail dot com>
*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

body, html{
    height:100%;
    margin:0;
    font-family: 'Rubik', sans-serif;
}
/* The hero image */
.hero-image {
    /* The image used */
    background-image: linear-gradient(rgba(20,20,20, 0.2), rgba(20,20,20, 0.2)), url("../img/hero.JPG");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (max-width: 992px) {
  .hero-image {
    background-image: linear-gradient(rgba(20,20,20, 0.2), rgba(20,20,20, 0.2)), url("../img/hero_alt.JPG");
  }
  #description-container{
    position:fixed;
    top:10%;
  }
  .navbar{
    background:rgba(0,0,0,0.3);
  }
  #social-container i{
      color:white;
  }
}

.nav-item{
  font-size:28px;
}

.nav-inactive a{
    color:white !important;
}

@media only screen and (min-width: 992px) {
    .nav-item{
        margin:20px 0 0 0;
    }
    .nav-inactive a{
        padding-left:25px !important;
    }
    #description-container{
        position:fixed;
        top:25%;
    }
}

.nav-active a{
  border-bottom:2px solid rgba(0,0,0,0.5);
}

#social-container i{
  padding:20px;
  font-size: 36px;
  width: 58px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
  text-align:center;
}

#social-container a{
    color:inherit;
}

#social-container i:hover {
    opacity: 0.7;
}

#social-container p{
    font-size:24px;
}

.footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
}